@import "./assets/styles.scss";

#root {
  padding: 10px 50px;
}
header {
  display: flex;
  justify-content: space-around;
  margin-bottom: 25px;
  gap: 20px;
  h1 {
    align-self: center;
    transform: scaleY(1.8) skew(10deg, 10deg) rotate3d(1, 1, 1, -0deg);
    animation: rotate 2s linear 0.2s forwards;
    color: #5fc7e9;
  }
  #head-image {
    display: flex;
    align-items: flex-end;
    width: 45vw;
    height: 70vh;
    padding-left: 10px;
    background-image: url("./assets/images/freddie-marriage-w8JiSVyjy-8-unsplash.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: lightcyan;
    a {
      color: lightcyan;
    }
  }
}
main {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  section:last-child {
    display: flex;
    flex-direction: column;
    @include section;
  }
}
.catalog {
  margin-top: $Icon-size;
  @include shadow;
  @include container;
  @include section;
}
.book-wrapper {
  display: flex;
  width: 95%;
  gap: 15px;
  .book-content {
    display: flex;
    flex-direction: column;
    p.price {
      flex-grow: 1;
    }
  }
}
.top-icons {
  position: relative;
  bottom: 12px;
  align-self: flex-end;
  .cart {
    cursor: pointer;
    font-size: $Icon-size;
  }
  .animation {
    animation: blum 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  }
  .arrow {
    cursor: pointer;
  }
}
#bag {
  transform: scaleY(0);
  transition: transform 0.6s;
  transform-origin: top;
  @include shadow;
  @include container;
  .closeX {
    position: absolute;
    right: 30px;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    font-size: 1.5rem;
    color: red;
  }
  .pieces::after {
    content: attr(data-pieces);
  }
  .control {
    display: none;
  }
  .empty {
    text-align: center;
  }
}

.control {
  & > * {
    margin-inline: 10px;
  }
  .more {
    position: relative;
    cursor: pointer;
    font-style: italic;
    color: #0fa1d1;
    div {
      position: absolute;
      z-index: 1;
      bottom: 20px;
      left: -100px;
      width: 340px;
      padding: 10px;
      background: aliceblue;
      cursor: initial;
      font-style: initial;
      visibility: hidden;
      @include shadow;
      button {
        display: block;
        cursor: pointer;
      }
    }
  }
  .button {
    cursor: pointer;
    @include button;
  }
}
.image {
  border: 1px solid lightgray;
  width: 170px;
  height: 250px;
}
hr {
  margin-top: 2rem;
}
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #5fc7e9;
  font-weight: 500;
  padding-inline: 20px;
  span:first-of-type {
    flex-grow: 1;
  }
  a:hover {
    transform: scale(1.05);
  }
  .author {
    margin-right: 30px;
    text-decoration: none;
    color: inherit;
    i {
      font-size: 1.5rem;
      margin-inline: 10px;
    }
  }
}
@keyframes blum {
  50% {
    transform: scale(1.2);
    color: yellow;
  }
  to {
    transform: none;
    color: lightcoral;
  }
}

@keyframes rotate {
  to {
    transform: scaleY(1.8) skew(-30deg, 10deg) rotate3d(1, 1, 1, -400deg);
  }
}
