#root {
  padding: 10px 50px;
}

header {
  display: flex;
  justify-content: space-around;
  margin-bottom: 25px;
  gap: 20px;
}
header h1 {
  align-self: center;
  transform: scaleY(1.8) skew(10deg, 10deg) rotate3d(1, 1, 1, 0deg);
  -webkit-animation: rotate 2s linear 0.2s forwards;
          animation: rotate 2s linear 0.2s forwards;
  color: #5fc7e9;
}
header #head-image {
  display: flex;
  align-items: flex-end;
  width: 45vw;
  height: 70vh;
  padding-left: 10px;
  background-image: url("./assets/images/freddie-marriage-w8JiSVyjy-8-unsplash.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: lightcyan;
}
header #head-image a {
  color: lightcyan;
}

main {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}
main section:last-child {
  display: flex;
  flex-direction: column;
  max-width: 500px;
}

.catalog {
  margin-top: 4rem;
  box-shadow: 2px 2px 10px 7px grey;
  padding: 20px;
  max-width: 500px;
}
.catalog > * {
  margin: 15px 0px;
}

.book-wrapper {
  display: flex;
  width: 95%;
  gap: 15px;
}
.book-wrapper .book-content {
  display: flex;
  flex-direction: column;
}
.book-wrapper .book-content p.price {
  flex-grow: 1;
}

.top-icons {
  position: relative;
  bottom: 12px;
  align-self: flex-end;
}
.top-icons .cart {
  cursor: pointer;
  font-size: 4rem;
}
.top-icons .animation {
  -webkit-animation: blum 0.5s cubic-bezier(0.4, 0, 0.2, 1);
          animation: blum 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
.top-icons .arrow {
  cursor: pointer;
}

#bag {
  transform: scaleY(0);
  transition: transform 0.6s;
  transform-origin: top;
  box-shadow: 2px 2px 10px 7px grey;
  padding: 20px;
}
#bag > * {
  margin: 15px 0px;
}
#bag .closeX {
  position: absolute;
  right: 30px;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  font-size: 1.5rem;
  color: red;
}
#bag .pieces::after {
  content: attr(data-pieces);
}
#bag .control {
  display: none;
}
#bag .empty {
  text-align: center;
}

.control > * {
  margin-inline: 10px;
}
.control .more {
  position: relative;
  cursor: pointer;
  font-style: italic;
  color: #0fa1d1;
}
.control .more div {
  position: absolute;
  z-index: 1;
  bottom: 20px;
  left: -100px;
  width: 340px;
  padding: 10px;
  background: aliceblue;
  cursor: initial;
  visibility: hidden;
  box-shadow: 2px 2px 10px 7px grey;
}
.control .more div button {
  display: block;
  cursor: pointer;
}
.control .button {
  cursor: pointer;
  border-radius: 10px;
  background: #5fc7e9;
  color: white;
}

.image {
  border: 1px solid lightgray;
  width: 170px;
  height: 250px;
}

@-webkit-keyframes blum {
  50% {
    transform: scale(1.2);
    color: yellow;
  }
  to {
    transform: none;
    color: lightcoral;
  }
}

@keyframes blum {
  50% {
    transform: scale(1.2);
    color: yellow;
  }
  to {
    transform: none;
    color: lightcoral;
  }
}
@-webkit-keyframes rotate {
  to {
    transform: scaleY(1.8) skew(-30deg, 10deg) rotate3d(1, 1, 1, -400deg);
  }
}
@keyframes rotate {
  to {
    transform: scaleY(1.8) skew(-30deg, 10deg) rotate3d(1, 1, 1, -400deg);
  }
}/*# sourceMappingURL=style.css.map */